@import "base/_base_dir";
@import "fnc/_fnc_dir";
@import "design/_design_dir";
@import "components/_components_dir";



body {
    font-family: Ubuntu;
    color:var(--text);
    background-color: var(--background);
    overflow-x: hidden;
    overflow-y: scroll;
}

.divSexy {
    opacity:0.1;
    margin:0% 10% 25px 10%;
    @include box(80%,1px);
    border-bottom:solid 1px var(--text);
}

.blue {
    color:var(--text2);
}

